<a href="https://colab.research.google.com/github/shirin1704/Python-Repository/blob/main/Traffic%20Lights%20Generation.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Importing Libraries

In [49]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import glob

Enter 6 months PALMS report in 'palms'<br>
Enter 6 months training report in 'training'<br>
**needs to be updated every month**

In [50]:
palms = pd.read_csv("/content/6 Months Palms October 24.csv")
training = pd.read_csv("/content/Training Report October 24.csv")

Extracting useful columns from PALMS report into a dataframe<br>
Calculating number of weeks<br>
Calculating total referrals given<br>
Renaming columns for basic formatting

In [51]:
palms_columns = ['Chapter', 'First Name','Last Name', 'P', 'A', 'L', 'M', 'S', 'RGI', 'RGO', 'V', 'TYFCB (INR)', 'T']
palms_processed = pd.DataFrame(palms[palms_columns])
palms_processed["Weeks"] = palms_processed['P'] + palms_processed['A'] + palms_processed['L'] + palms_processed['M'] + palms_processed['S']
palms_processed["Referrals Given"] = palms_processed['RGI'] + palms_processed['RGO']
palms_processed.rename(columns = {'V':'Visitors', 'T':'Testimonials'}, inplace = True)
palms_processed

,Chapter,First Name,Last Name,P,A,L,M,S,RGI,RGO,Visitors,TYFCB (INR),Testimonials,Weeks,Referrals Given
0,BNI Ace,Sanket,Agarkar,25,0,0,0,1,5,43,0,6.630000e+04,0,26,48
1,BNI Ace,Anuj,Agarwal,19,3,0,0,4,3,13,0,8.638670e+05,1,26,16
2,BNI Ace,Akhilesh,Agrawal,20,2,0,0,4,2,1,0,2.500000e+04,0,26,3
3,BNI Ace,Sohan,Ajgaonkar,26,0,0,0,0,0,32,4,1.850000e+04,0,26,32
4,BNI Ace,Rishikesh,Behere,25,0,0,0,1,2,5,6,5.158000e+04,1,26,7
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
866,Bni Orion,Vishal,Yeole,19,2,0,1,4,11,13,0,2.625184e+06,0,26,24
867,Bni Orion,Ganesh,Zarkar,15,5,0,1,5,0,30,0,6.963619e+06,2,26,30
868,Bni Orion,NaN,Visitors,26,0,0,0,0,0,0,0,0.000000e+00,0,26,0
869,Bni Orion,NaN,BNI,26,0,0,0,0,0,0,0,1.713095e+07,0,26,0
870,Total,NaN,NaN,17774,1532,135,1980,1048,7937,19859,1958,3.570131e+09,1269,22469,27796

Extracting useful columns from training report into a dataframe<br>
Creating a new column that combines chapter name, first name and last name so joining dataframes becomes easier<br>
Counting number of trainings for each member and renaming the column for basic formatting

In [52]:
training_columns = ['Chapter Name', 'First Name', 'Last Name']
training_processed = pd.DataFrame(training[training_columns])
training_processed["Name"] = training_processed['Chapter Name'] + training_processed['First Name'] + training_processed['Last Name']
training_processed = training_processed.Name.value_counts().reset_index()
training_processed.rename(columns = {'count' : 'Training Count'}, inplace = True)
training_processed

                              Name  Training Count
0             BNI RoyaleRachnaVora              11
1    BNI ParasNiileyshPaiithannkar               9
2             BNI StellarMananShah               7
3               BNI IrisRochanaDeb               6
4    BNI INFINITYAnupkumarPathmudi               6
..                             ...             ...
592       BNI RoyaleChinmayPalsule               1
593         BNI RoyaleSagarPatekar               1
594       BNI InvictusPrasadAndure               1
595  BNI RoyaleGajananSahasrabudhe               1
596          BNI AceSohanAjgaonkar               1

[597 rows x 2 columns]

Creating a new column in the PALMS report that combines chapter name, first name and last name so joining the dataframes becomes easier

In [53]:
palms_processed["Name"] = palms_processed['Chapter'] + palms_processed['First Name'] + palms_processed['Last Name']
palms_processed

,Chapter,First Name,Last Name,P,A,L,M,S,RGI,RGO,Visitors,TYFCB (INR),Testimonials,Weeks,Referrals Given,Name
0,BNI Ace,Sanket,Agarkar,25,0,0,0,1,5,43,0,6.630000e+04,0,26,48,BNI AceSanketAgarkar
1,BNI Ace,Anuj,Agarwal,19,3,0,0,4,3,13,0,8.638670e+05,1,26,16,BNI AceAnujAgarwal
2,BNI Ace,Akhilesh,Agrawal,20,2,0,0,4,2,1,0,2.500000e+04,0,26,3,BNI AceAkhileshAgrawal
3,BNI Ace,Sohan,Ajgaonkar,26,0,0,0,0,0,32,4,1.850000e+04,0,26,32,BNI AceSohanAjgaonkar
4,BNI Ace,Rishikesh,Behere,25,0,0,0,1,2,5,6,5.158000e+04,1,26,7,BNI AceRishikeshBehere
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
866,Bni Orion,Vishal,Yeole,19,2,0,1,4,11,13,0,2.625184e+06,0,26,24,Bni OrionVishalYeole
867,Bni Orion,Ganesh,Zarkar,15,5,0,1,5,0,30,0,6.963619e+06,2,26,30,Bni OrionGaneshZarkar
868,Bni Orion,NaN,Visitors,26,0,0,0,0,0,0,0,0.000000e+00,0,26,0,NaN
869,Bni Orion,NaN,BNI,26,0,0,0,0,0,0,0,1.713095e+07,0,26,0,NaN
870,Total,NaN,NaN,17774,1532,135,1980,1048,7937,19859,1958,3.570131e+09,1269,22469,27796,NaN

Joining the dataframes based on the new Name column created using an outer join so values that do not find a match are automatically assigned a null value<br>
Replacing the null values in the training count column with the value 0

In [54]:
final_file = palms_processed.merge(training_processed, on = 'Name', how = 'outer')
final_file = final_file.drop('Name', axis = 1)
final_file['Training Count'] = final_file['Training Count'].fillna(0)
final_file

,Chapter,First Name,Last Name,P,A,L,M,S,RGI,RGO,Visitors,TYFCB (INR),Testimonials,Weeks,Referrals Given,Training Count
0,BNI Ace,Aakash,Lele,22.0,4.0,0.0,0.0,0.0,0.0,12.0,0.0,5.630000e+04,0.0,26.0,12.0,1.0
1,BNI Ace,Aarati,Parkhi,26.0,0.0,0.0,0.0,0.0,7.0,42.0,14.0,1.877500e+06,1.0,26.0,49.0,2.0
2,BNI Ace,Abhijeet,Gandhi,21.0,3.0,0.0,2.0,0.0,4.0,7.0,0.0,5.000000e+05,0.0,26.0,11.0,0.0
3,BNI Ace,Akhilesh,Agrawal,20.0,2.0,0.0,0.0,4.0,2.0,1.0,0.0,2.500000e+04,0.0,26.0,3.0,0.0
4,BNI Ace,Amol,Soma,23.0,1.0,0.0,1.0,1.0,4.0,6.0,4.0,0.000000e+00,0.0,26.0,10.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
868,BNI Zenith,NaN,Visitors,27.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,5.300000e+04,0.0,27.0,0.0,0.0
869,BNI Zenith,NaN,BNI,27.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.306700e+06,0.0,27.0,0.0,0.0
870,Bni Orion,NaN,Visitors,26.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000e+00,0.0,26.0,0.0,0.0
871,Bni Orion,NaN,BNI,26.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.713095e+07,0.0,26.0,0.0,0.0
872,Total,NaN,NaN,17774.0,1532.0,135.0,1980.0,1048.0,7937.0,19859.0,1958.0,3.570131e+09,1269.0,22469.0,27796.0,0.0

Calculating the score for Absenteeism

In [55]:
final_file['Absent Score'] = 0
final_file.loc[final_file['A'] > 2, 'Absent Score'] = 0
final_file.loc[final_file['A'] == 2, 'Absent Score'] = 5
final_file.loc[final_file['A'] == 1, 'Absent Score'] = 10
final_file.loc[final_file['A'] < 1, 'Absent Score'] = 15
final_file

,Chapter,First Name,Last Name,P,A,L,M,S,RGI,RGO,Visitors,TYFCB (INR),Testimonials,Weeks,Referrals Given,Training Count,Absent Score
0,BNI Ace,Aakash,Lele,22.0,4.0,0.0,0.0,0.0,0.0,12.0,0.0,5.630000e+04,0.0,26.0,12.0,1.0,0
1,BNI Ace,Aarati,Parkhi,26.0,0.0,0.0,0.0,0.0,7.0,42.0,14.0,1.877500e+06,1.0,26.0,49.0,2.0,15
2,BNI Ace,Abhijeet,Gandhi,21.0,3.0,0.0,2.0,0.0,4.0,7.0,0.0,5.000000e+05,0.0,26.0,11.0,0.0,0
3,BNI Ace,Akhilesh,Agrawal,20.0,2.0,0.0,0.0,4.0,2.0,1.0,0.0,2.500000e+04,0.0,26.0,3.0,0.0,5
4,BNI Ace,Amol,Soma,23.0,1.0,0.0,1.0,1.0,4.0,6.0,4.0,0.000000e+00,0.0,26.0,10.0,1.0,10
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
868,BNI Zenith,NaN,Visitors,27.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,5.300000e+04,0.0,27.0,0.0,0.0,15
869,BNI Zenith,NaN,BNI,27.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.306700e+06,0.0,27.0,0.0,0.0,15
870,Bni Orion,NaN,Visitors,26.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000e+00,0.0,26.0,0.0,0.0,15
871,Bni Orion,NaN,BNI,26.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.713095e+07,0.0,26.0,0.0,0.0,15
872,Total,NaN,NaN,17774.0,1532.0,135.0,1980.0,1048.0,7937.0,19859.0,1958.0,3.570131e+09,1269.0,22469.0,27796.0,0.0,0

Calculating the score for Referrals Given per Week

In [56]:
final_file['Referrals/Week'] = final_file['Referrals Given']/final_file['Weeks']
final_file['Referrals Score'] = 0
final_file.loc[final_file['Referrals/Week'] < 0.5, 'Referrals Score'] = 0
final_file.loc[(final_file['Referrals/Week'] < 0.75) & (final_file['Referrals/Week'] >= 0.5), 'Referrals Score'] = 5
final_file.loc[(final_file['Referrals/Week'] < 1) & (final_file['Referrals/Week'] >= 0.75), 'Referrals Score'] = 10
final_file.loc[(final_file['Referrals/Week'] < 1.2) & (final_file['Referrals/Week'] >= 1), 'Referrals Score'] = 15
final_file.loc[final_file['Referrals/Week'] >= 1.2, 'Referrals Score'] = 20
final_file

,Chapter,First Name,Last Name,P,A,L,M,S,RGI,RGO,Visitors,TYFCB (INR),Testimonials,Weeks,Referrals Given,Training Count,Absent Score,Referrals/Week,Referrals Score
0,BNI Ace,Aakash,Lele,22.0,4.0,0.0,0.0,0.0,0.0,12.0,0.0,5.630000e+04,0.0,26.0,12.0,1.0,0,0.461538,0
1,BNI Ace,Aarati,Parkhi,26.0,0.0,0.0,0.0,0.0,7.0,42.0,14.0,1.877500e+06,1.0,26.0,49.0,2.0,15,1.884615,20
2,BNI Ace,Abhijeet,Gandhi,21.0,3.0,0.0,2.0,0.0,4.0,7.0,0.0,5.000000e+05,0.0,26.0,11.0,0.0,0,0.423077,0
3,BNI Ace,Akhilesh,Agrawal,20.0,2.0,0.0,0.0,4.0,2.0,1.0,0.0,2.500000e+04,0.0,26.0,3.0,0.0,5,0.115385,0
4,BNI Ace,Amol,Soma,23.0,1.0,0.0,1.0,1.0,4.0,6.0,4.0,0.000000e+00,0.0,26.0,10.0,1.0,10,0.384615,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
868,BNI Zenith,NaN,Visitors,27.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,5.300000e+04,0.0,27.0,0.0,0.0,15,0.000000,0
869,BNI Zenith,NaN,BNI,27.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.306700e+06,0.0,27.0,0.0,0.0,15,0.000000,0
870,Bni Orion,NaN,Visitors,26.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000e+00,0.0,26.0,0.0,0.0,15,0.000000,0
871,Bni Orion,NaN,BNI,26.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.713095e+07,0.0,26.0,0.0,0.0,15,0.000000,0
872,Total,NaN,NaN,17774.0,1532.0,135.0,1980.0,1048.0,7937.0,19859.0,1958.0,3.570131e+09,1269.0,22469.0,27796.0,0.0,0,1.237082,20

Calculating the score for TYFTB

In [57]:
final_file['TYFTB Score'] = 0
final_file.loc[final_file['TYFCB (INR)'] < 500000, 'TYFTB Score'] = 0
final_file.loc[(final_file['TYFCB (INR)'] < 1000000) & (final_file['TYFCB (INR)'] >= 500000), 'TYFTB Score'] = 5
final_file.loc[(final_file['TYFCB (INR)'] < 2000000) & (final_file['TYFCB (INR)'] >= 1000000), 'TYFTB Score'] = 10
final_file.loc[final_file['TYFCB (INR)'] >= 2000000, 'TYFTB Score'] = 15
final_file

,Chapter,First Name,Last Name,P,A,L,M,S,RGI,RGO,Visitors,TYFCB (INR),Testimonials,Weeks,Referrals Given,Training Count,Absent Score,Referrals/Week,Referrals Score,TYFTB Score
0,BNI Ace,Aakash,Lele,22.0,4.0,0.0,0.0,0.0,0.0,12.0,0.0,5.630000e+04,0.0,26.0,12.0,1.0,0,0.461538,0,0
1,BNI Ace,Aarati,Parkhi,26.0,0.0,0.0,0.0,0.0,7.0,42.0,14.0,1.877500e+06,1.0,26.0,49.0,2.0,15,1.884615,20,10
2,BNI Ace,Abhijeet,Gandhi,21.0,3.0,0.0,2.0,0.0,4.0,7.0,0.0,5.000000e+05,0.0,26.0,11.0,0.0,0,0.423077,0,5
3,BNI Ace,Akhilesh,Agrawal,20.0,2.0,0.0,0.0,4.0,2.0,1.0,0.0,2.500000e+04,0.0,26.0,3.0,0.0,5,0.115385,0,0
4,BNI Ace,Amol,Soma,23.0,1.0,0.0,1.0,1.0,4.0,6.0,4.0,0.000000e+00,0.0,26.0,10.0,1.0,10,0.384615,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
868,BNI Zenith,NaN,Visitors,27.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,5.300000e+04,0.0,27.0,0.0,0.0,15,0.000000,0,0
869,BNI Zenith,NaN,BNI,27.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.306700e+06,0.0,27.0,0.0,0.0,15,0.000000,0,10
870,Bni Orion,NaN,Visitors,26.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000e+00,0.0,26.0,0.0,0.0,15,0.000000,0,0
871,Bni Orion,NaN,BNI,26.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.713095e+07,0.0,26.0,0.0,0.0,15,0.000000,0,15
872,Total,NaN,NaN,17774.0,1532.0,135.0,1980.0,1048.0,7937.0,19859.0,1958.0,3.570131e+09,1269.0,22469.0,27796.0,0.0,0,1.237082,20,15

Calculating the score for Visitors per Week

In [58]:
final_file['Visitors/Week'] = final_file['Visitors']/final_file['Weeks']
final_file['Visitors Score'] = 0
final_file.loc[final_file['Visitors/Week'] < 0.1, 'Visitors Score'] = 0
final_file.loc[(final_file['Visitors/Week'] < 0.25) & (final_file['Visitors/Week'] >= 0.1), 'Visitors Score'] = 5
final_file.loc[(final_file['Visitors/Week'] < 0.5) & (final_file['Visitors/Week'] >= 0.25), 'Visitors Score'] = 10
final_file.loc[(final_file['Visitors/Week'] < 0.75) & (final_file['Visitors/Week'] >= 0.5), 'Visitors Score'] = 15
final_file.loc[final_file['Visitors/Week'] >= 0.75, 'Visitors Score'] = 20
final_file

,Chapter,First Name,Last Name,P,A,L,M,S,RGI,RGO,...,Testimonials,Weeks,Referrals Given,Training Count,Absent Score,Referrals/Week,Referrals Score,TYFTB Score,Visitors/Week,Visitors Score
0,BNI Ace,Aakash,Lele,22.0,4.0,0.0,0.0,0.0,0.0,12.0,...,0.0,26.0,12.0,1.0,0,0.461538,0,0,0.000000,0
1,BNI Ace,Aarati,Parkhi,26.0,0.0,0.0,0.0,0.0,7.0,42.0,...,1.0,26.0,49.0,2.0,15,1.884615,20,10,0.538462,15
2,BNI Ace,Abhijeet,Gandhi,21.0,3.0,0.0,2.0,0.0,4.0,7.0,...,0.0,26.0,11.0,0.0,0,0.423077,0,5,0.000000,0
3,BNI Ace,Akhilesh,Agrawal,20.0,2.0,0.0,0.0,4.0,2.0,1.0,...,0.0,26.0,3.0,0.0,5,0.115385,0,0,0.000000,0
4,BNI Ace,Amol,Soma,23.0,1.0,0.0,1.0,1.0,4.0,6.0,...,0.0,26.0,10.0,1.0,10,0.384615,0,0,0.153846,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
868,BNI Zenith,NaN,Visitors,27.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,27.0,0.0,0.0,15,0.000000,0,0,0.000000,0
869,BNI Zenith,NaN,BNI,27.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,27.0,0.0,0.0,15,0.000000,0,10,0.000000,0
870,Bni Orion,NaN,Visitors,26.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,26.0,0.0,0.0,15,0.000000,0,0,0.000000,0
871,Bni Orion,NaN,BNI,26.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,26.0,0.0,0.0,15,0.000000,0,15,0.000000,0
872,Total,NaN,NaN,17774.0,1532.0,135.0,1980.0,1048.0,7937.0,19859.0,...,1269.0,22469.0,27796.0,0.0,0,1.237082,20,15,0.087142,0

Calculating the score for Testimonials per Week

In [59]:
final_file['Testimonials/Week'] = final_file['Testimonials']/final_file['Weeks']
final_file['Testimonials Score'] = 0
final_file.loc[final_file['Testimonials/Week'] <= 0, 'Testimonials Score'] = 0
final_file.loc[(final_file['Testimonials/Week'] < 0.075) & (final_file['Testimonials/Week'] > 0), 'Visitors Score'] = 5
final_file.loc[final_file['Testimonials/Week'] >= 0.075, 'Testimonials Score'] = 10
final_file

,Chapter,First Name,Last Name,P,A,L,M,S,RGI,RGO,...,Referrals Given,Training Count,Absent Score,Referrals/Week,Referrals Score,TYFTB Score,Visitors/Week,Visitors Score,Testimonials/Week,Testimonials Score
0,BNI Ace,Aakash,Lele,22.0,4.0,0.0,0.0,0.0,0.0,12.0,...,12.0,1.0,0,0.461538,0,0,0.000000,0,0.000000,0
1,BNI Ace,Aarati,Parkhi,26.0,0.0,0.0,0.0,0.0,7.0,42.0,...,49.0,2.0,15,1.884615,20,10,0.538462,5,0.038462,0
2,BNI Ace,Abhijeet,Gandhi,21.0,3.0,0.0,2.0,0.0,4.0,7.0,...,11.0,0.0,0,0.423077,0,5,0.000000,0,0.000000,0
3,BNI Ace,Akhilesh,Agrawal,20.0,2.0,0.0,0.0,4.0,2.0,1.0,...,3.0,0.0,5,0.115385,0,0,0.000000,0,0.000000,0
4,BNI Ace,Amol,Soma,23.0,1.0,0.0,1.0,1.0,4.0,6.0,...,10.0,1.0,10,0.384615,0,0,0.153846,5,0.000000,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
868,BNI Zenith,NaN,Visitors,27.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,15,0.000000,0,0,0.000000,0,0.000000,0
869,BNI Zenith,NaN,BNI,27.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,15,0.000000,0,10,0.000000,0,0.000000,0
870,Bni Orion,NaN,Visitors,26.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,15,0.000000,0,0,0.000000,0,0.000000,0
871,Bni Orion,NaN,BNI,26.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,15,0.000000,0,15,0.000000,0,0.000000,0
872,Total,NaN,NaN,17774.0,1532.0,135.0,1980.0,1048.0,7937.0,19859.0,...,27796.0,0.0,0,1.237082,20,15,0.087142,5,0.056478,0

Calculating the score for Arriving on Time

In [60]:
final_file['Arriving on Time Score'] = 5
final_file.loc[final_file['L'] >= 1, 'Arriving on Time Score'] = 0

Calculating the score for Training

In [61]:
final_file['Training Score'] = 0
final_file.loc[final_file['Training Count'] == 0, 'Training Score'] = 0
final_file.loc[final_file['Training Count'] == 1, 'Training Score'] = 5
final_file.loc[final_file['Training Count'] == 2, 'Training Score'] = 10
final_file.loc[final_file['Training Count'] >= 3, 'Training Score'] = 15

Extracting only the column names of the final file

In [62]:
final_file.columns

Index(['Chapter', 'First Name', 'Last Name', 'P', 'A', 'L', 'M', 'S', 'RGI',
       'RGO', 'Visitors', 'TYFCB (INR)', 'Testimonials', 'Weeks',
       'Referrals Given', 'Training Count', 'Absent Score', 'Referrals/Week',
       'Referrals Score', 'TYFTB Score', 'Visitors/Week', 'Visitors Score',
       'Testimonials/Week', 'Testimonials Score', 'Arriving on Time Score',
       'Training Score'],
      dtype='object')

Creating a report dataframe that includes each member's following details:
<li>Chapter Name</li>
<li>First Name</li>
<li>Last Name</li>
<li>Absent Score</li>
<li>Referrals Score</li>
<li>TYFTB Score</li>
<li>Visitors Score</li>
<li>Testimonials Score</li>
<li>Arriving on Time Score</li>
<li>Training Score</li>

Generating a Total score by summing all the scores

In [63]:
name_columns = ['Chapter', 'First Name', 'Last Name']
score_columns = ['Absent Score', 'Referrals Score', 'TYFTB Score', 'Visitors Score', 'Testimonials Score', 'Arriving on Time Score', 'Training Score']
report_columns = name_columns + score_columns
report = pd.DataFrame(final_file[report_columns])
report['Total'] = 0
for score in score_columns:
  report['Total'] = report['Total'] + report[score]
report

,Chapter,First Name,Last Name,Absent Score,Referrals Score,TYFTB Score,Visitors Score,Testimonials Score,Arriving on Time Score,Training Score,Total
0,BNI Ace,Aakash,Lele,0,0,0,0,0,5,5,10
1,BNI Ace,Aarati,Parkhi,15,20,10,5,0,5,10,65
2,BNI Ace,Abhijeet,Gandhi,0,0,5,0,0,5,0,10
3,BNI Ace,Akhilesh,Agrawal,5,0,0,0,0,5,0,10
4,BNI Ace,Amol,Soma,10,0,0,5,0,5,5,25
...,...,...,...,...,...,...,...,...,...,...,...
868,BNI Zenith,NaN,Visitors,15,0,0,0,0,5,0,20
869,BNI Zenith,NaN,BNI,15,0,10,0,0,5,0,30
870,Bni Orion,NaN,Visitors,15,0,0,0,0,5,0,20
871,Bni Orion,NaN,BNI,15,0,15,0,0,5,0,35
872,Total,NaN,NaN,0,20,15,5,0,0,0,40

Exporting the report dataframe for the given month into an excel sheet<br>
**needs to be changed every month**

In [64]:
report.to_excel('October 2024.xlsx')